<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MonPremierTp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Verification</display-name>
    <servlet-name>Verification</servlet-name>
    <servlet-class>moncontrol.Verification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verification</servlet-name>
    <url-pattern>/Verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verification1</display-name>
    <servlet-name>Verification1</servlet-name>
    <servlet-class>monocontrole.Verification1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verification1</servlet-name>
    <url-pattern>/Verification1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saisir</display-name>
    <servlet-name>Saisir</servlet-name>
    <servlet-class>Saisir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saisir</servlet-name>
    <url-pattern>/Saisir</url-pattern>
  </servlet-mapping>
</web-app>